<h1 align="Center" >Análisando O Salário Dos Programadores

Data Science Jr.: Karina Gonçalves Soares

Links de estudo:

[Análises de los salários em programadores](https://www.kaggle.com/code/wagnerfernndez/analisis-de-los-salarios-en-programadores/notebook#ANALISIS-DE-LOS-SALARIOS-EN-PROGRAMADORES)

[Dataset](https://www.kaggle.com/datasets/abhishek14398/salary-dataset-simple-linear-regression?select=Salary_dataset.csv)

### 1. Análise e Processamento Dos Dados

1. Instalando as bibliotecas

Os APIs necessários para o processamentos dos dados

In [ ]:
#%pip install seaborn
#%pip install scikit-learn

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pl
import os 
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

2. Processamento dos dados

Este numeral é dividido em dois pontos:
* Limpeza dos dados

* Análise exploratória de dados(EDA).

2.1 Limpeza dos dados

A limpeza dos dados(Datacleaning), consiste em envolver , detectar, eliminar, corrigir e transformar qualquer anomalia, perturbação ou irrelevância dos dados.(Torres, 2021)

Utilizaremos a análise descritiva dos dados, uma etapa preliminar do tratamento dos dados que consiste em sintetizar os dados históricos para obter informação útil e prepará-los para análises posteriores

Essa análise é feita com o fim de identificar padrões e tendências.

* A seguir vamos ler os dados utilizando a livraria pandas:

In [6]:
df = pd.read_csv("Salary_dataset.csv")

df.head()

   Unnamed: 0  YearsExperience   Salary
0           0              1.2  39344.0
1           1              1.4  46206.0
2           2              1.6  37732.0
3           3              2.1  43526.0
4           4              2.3  39892.0

In [8]:
df.shape

(30, 3)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       30 non-null     int64
 1   YearsExperience  30 non-null     float64
 2   Salary           30 non-null     float64
dtypes: float64(2), int64(1)
memory usage: 848.0 bytes

In [12]:
#df["Salary"].unique()

* Vamos limpar a coluna "Unnamed: 0", que para nós não é necessária.

In [13]:
df.drop("Unnamed: 0", axis=1, inplace=True)

* Trocaremos os nomes das colunas.

In [17]:
df.columns = ["anos de experiência", "salário"]

* Lendo o DataFrame ajustado.

In [18]:
df.head(2)

   anos de experiência  salário
0                  1.2  39344.0
1                  1.4  46206.0

2.2 Análise Exploratória de Dados (EDA)

A análise exploratóra de dados (EDA) é utilizada para analisar, investigar conjunto de dados e resumir suas prícipais características, geralmente usando métodos de visualização de dados. A EDA ajuda a determinar a melhor maneira de manipular as fontes de dados para obter as respostar necessárias, permitindo descubrir padrões, anomalias, testar hipóteses ou suposições. (IBM, 2021)


* Utilizaremos o método describe() para obter a descrição das colunas dos dados,onde podemos visualizar média, moda, mediana etc.

In [19]:
df.describe()

       anos de experiência        salário
count            30.000000      30.000000
mean              5.413333   76004.000000
std               2.837888   27414.429785
min               1.200000   37732.000000
25%               3.300000   56721.750000
50%               4.800000   65238.000000
75%               7.800000  100545.750000
max              10.600000  122392.000000